mixin hero(data)
  section.hero.lazy(data-bg="url('assets/images/general/waves.png')")
    .hero__container.container.flex.flex_bottom
      .hero__image
        img(src="assets/images/general/hero-img.png", alt="")
      .hero__w
        h1.hero__title.title Геоинформационная платформа «Циклон»
        .hero__text Предназначена для контроля за распределенными активами предприятий, поддержки принятия управленческих решений, бизнес-анализа и визуализации.